{% extends 'shoutboard/base.html' %}
{% load static %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="{% static 'motors/css/list_style.css' %}" type="text/css" />
{% endblock %}

{% block bootstrap3_content %}
   <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page Heading
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            {% for record in records %}
            <div class="col-md-4 portfolio-item">
                <a href="{% url 'motors:show_item' record.pk %}">
                    <!--img class="img-responsive" src="http://placehold.it/700x400" alt=""-->
                    <img class="img-responsive" src="{{ record.local_image.url }}" alt="" />
                </a>
                <h4>
                    <a href="{% url 'motors:show_item' record.pk %}">{{ record.title }}</a>
                </h4>
                <p>Current description is too long for this filed or need to use libraries like jQuery dotdot</p>
            </div>
                {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
                {% endif %} 

            {% endfor %}
        </div>

        <hr>

        <!-- Pagination -->
        <!--div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div-->
        <!-- /.row -->
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="pagination">
                    <span class="step-links">
                        {% if records.has_previous %}
                            <a href="?page={{ records.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ records.number }} of {{ records.paginator.num_pages }}.
                        </span>

                        {% if records.has_next %}
                            <a href="?page={{ records.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <!--script src="js/jquery.js"></script-->

    <!-- Bootstrap Core JavaScript -->
    <!--script src="js/bootstrap.min.js"></script-->

{% endblock %}
