{% extends 'shoutboard/base.html' %}

{% block bootstrap3_extra_head %}
    <link href="/static/_auth/login.css" rel="stylesheet"/>
{% endblock %}

{% block bootstrap3_content %}

        <form class="form-signin" method="POST">

            {% for error in confirm_reset_form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}


            {# info messages #}
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-info" role="alert">{{ msg }}</div>
                {% endfor %}
            {% endif %}

            <h2 class="form-signin-heading">Reset password</h2>

            {% csrf_token %}
            {% for field in confirm_reset_form %}
                <label class="sr-only" for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    {% for error in field.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <button id="submit-btn" class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
        </form>
{% endblock %}
