{% extends 'shoutboard/base.html' %}

{% block bootstrap3_extra_head %}
    <link href="/static/_auth/login.css" rel="stylesheet"/>
{% endblock %}

{% block bootstrap3_content %}
    <a href="{% url '_auth:password-reset' %}">Reset password</a>

        <form class="form-signin" method="POST">

            {# login errors #}
            {% if login_error %}
                <div class="alert alert-danger" role="alert">{{ login_error }}</div>
            {% endif %}

            {# info messages #}
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-info" role="alert">{{ msg }}</div>
                {% endfor %}
            {% endif %}

            <h2 class="form-signin-heading">Please sign in</h2>

            {% csrf_token %}
            {% for field in login_form %}
                <label class="sr-only" for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}
                {# field.errors #}
            {% endfor %}

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>

            <button id="submit_btn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
{% endblock %}
