{% extends 'shoutboard/base.html' %}

{% block bootstrap3_extra_head %}
    <link href="/static/_auth/login.css" rel="stylesheet"/>
{% endblock %}

{% block bootstrap3_content %}
        <a href="{% url '_auth:signup' %}">Sign up form</a>

        <form class="form-signin" method="POST">

            {# login errors #}
            {% if login_error %}
                <div class="alert alert-danger" role="alert">{{ login_error }}</div>
            {% endif %}

            {# info messages #}
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-info" role="alert">{{ msg }}</div>
                {% endfor %}
            {% endif %}

            <h2 class="form-signin-heading">Reset password</h2>

            {% csrf_token %}
            {% for field in reset_form %}
                <label class="sr-only" for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    {% for error in field.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <button id="submit-btn" class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
        </form>
{% endblock %}
