{% extends 'shoutboard/base.html' %}

{% block bootstrap3_extra_head %}
    <link href="/static/_auth/login.css" rel="stylesheet"/>
{% endblock %}

{% block bootstrap3_content %}

    <a href="{% url '_auth:login' %}">Login form</a>

        <form class="form-signin" method="POST">

            {% for error in signup_form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

            <h2 class="form-signin-heading">Sign Up form</h2>

            {% csrf_token %}
            {% for field in signup_form %}
                <label class="sr-only" for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    {% for error in field.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <button id="submit-btn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
{% endblock %}
