{% extends "profile/base.html" %}

{% block bootstrap3_title %}Address{% endblock %}

{% block address_active %}active{% endblock %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
    <style>
        #submit_btn {
            margin-top:10px;
        }
    </style>
{% endblock %}

{% block profile_page %}
    <div class="col-lg-5">

        <h3>Billing Address</h3>
        <hr>

        <form method="POST">
            {% csrf_token %}

            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

            {% for field in form %}
                <label for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <button id="submit_btn" class="btn btn-primary" type="submit">Change</button>
        </form>
    </div>
{% endblock %}
