{% extends "profile/base.html" %}

{% block bootstrap3_title %}Avatar{% endblock %}

{% block avatar_active %}active{% endblock %}

{% block profile_page %}
    <h3>Avatar</h3>
    <hr>
    <p>Change your avatar on: <a target="_blank" href="https://signup.wordpress.com/signup/?ref=oauth2&oauth2_redirect=08e76c0d1951129d540ca2737b5aec9f%40https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%2F%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3Dddd55f70e93fc5346f73784622ddf5f2a9e0a72cf155d233411631db83e74220%26redirect_uri%3Dhttps%253A%252F%252Fen.gravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token%26jetpack-code%26jetpack-user-id%3D0%26action%3Doauth2-login&wpcom_connect=1">gravatar.com</a>
{% endblock %}
