{% extends "profile/base.html" %}

{% block bootstrap3_title %}Profile overview{% endblock %}

{% block index_active %}active{% endblock %}

{% block profile_page %}
    <div class="media">
        <div class="media-left media-bottom">
            <a href="#">
                <img class="media-object" src="{{ user.profile.gravatar }}" alt="">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ user.first_name|capfirst|default:"Name" }} {{ user.last_name|capfirst|default:"Surname" }}</h4>
            <h6>{{ user.email }}</h6>
            <!--p class="lead">{{ user.profile.company_name|capfirst|default:"Company name" }}</p-->
            <h4>{{ user.profile.company_name|capfirst|default:"Company name" }}</h4>
        </div>
    </div>
    <hr>

    <div class="col-lg-5">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Address: {{ user.profile.address }}</p>
            <p>Company: {{ user.profile.company_name }}</p>
            <p>VAT number: {{ user.profile.vat_number }}</p>
        </div>
    </div>
    </div>
{% endblock %}
